<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Страница Логин</title>
</head>
<body>  
    <h1>Страница Логин</h1>
    <form method="GET" action="/login">
        <p>Введите Username</p>
        <input  type="text" id="username" name="username" spellcheck="false" autocomplete="off">
        <p>Введите Password</p>
        <input type="password" id="password" name="password" spellcheck="false" autocomplete="off">
        <br>
        <br>
        <input type="submit" value="Отправить запрос">
    </form>
</body>
</html>